.white{
    background-color: white;
}

.green{
    background-color: rgb(51, 180, 51);
}


.lpawn{
    background-image: url("./lib/pieces/img/Chess_plt60.png");
}
.dpawn{
    background-image: url("./lib/pieces/img/Chess_pdt60.png");
}